extends /layouts/_article

block vars
  -
    page = {
      title: 'O nama',
      breadcrumbs: {}
    }

block article
  div
    article(class="uk-card " +
                  "uk-card-default " +
                  "uk-card-body " +
                  "uk-article " +
                  "tm-ignore-container")

      header
        //- Title
        h1.uk-article-title= page.title

      div.uk-article-body
        p.uk-text-lead.uk-text-center Gradinar je najstariji salon keramike u regionu. Osnovan je pre više od 10 godina.

        h2.uk-text-center Naši principi
        ul.uk-list.uk-list-bullet
          li Saradnja sa svim vodećim regionalnim brendovima.
          li Izuzetno poznavanje tržišta svih vrsta keramike.
          li Veliki izbor keramičkih pločica.

        h2.uk-text-center Prodavnica
        p Maloprodajni objekat se nalazi u trgovačkom centru u Aranđelovcu, sa obezbeđenim parkingom i utovarnim mestom.
        figure
          div.uk-text-bolder= shopInfo.storeName
          div!= shopInfo.address
          div= shopInfo.openingHours
        